<div class="categories">
    <div class="categories-head">
        <div class="categories-left">
            <h1>Shop Popular Categories</h1>
            <img src="../../../../assets/home/banner/tickmark.png" alt="">
        </div>
        <div class="categories-right">
            <h1>see All</h1>
        </div>
    </div>
</div>
<div class="categories-cards">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <h1>Chair</h1>
                    <img src="../../../../assets/home/categories/chair.png" alt="">

                </div>
            </div>
             <div class="col-md-3">
                <div class="card">
                    <h1>Cabinet</h1>
                    <img src="../../../../assets/home/categories/drawer.png" alt="">
                    
                </div>
            </div>
             <div class="col-md-3">
                <div class="card">
                    <h1>Table</h1>
                    <img src="../../../../assets/home/categories/table.png" alt="">
                    
                </div>
            </div>
             <div class="col-md-3">
                <div class="card">
                    <h1>Lamp</h1>
                    <img src="../../../../assets/home/categories/lamp.png" alt="">
                    
                </div>
            </div>

        </div>
    </div>
</div>